<?xml version="1.0" encoding="utf-8"?>
<manifest
    package="com.tr.expenses"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.tr.bnotes.BudgetNotesApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Material">
        <activity
            android:name="com.tr.bnotes.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name="com.tr.bnotes.ItemDetailsActivity"
            android:label="@string/title_activity_item_details"
            android:parentActivityName="com.tr.bnotes.MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tr.bnotes.MainActivity"/>
        </activity>
        <activity
            android:name="com.tr.bnotes.StatsActivity"
            android:configChanges="orientation"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_stats">

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.tr.bnotes.MainActivity"/>
        </activity>
    </application>

</manifest>
